[data-theme='light'] {
  --surface-page: #ffffff;
  --surface-secondary: #f7f7f8;
  --surface-inverse: #151515;
  --text-primary: #151515;
  --text-secondary: #76767a;
  --text-inverse: #ffffff;
  --divider: #e8e8ea;
  --focus-color: #535eeb;
}

[data-theme='dark'] {
  --surface-page: #000000;
  --surface-secondary: #171719;
  --surface-inverse: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #a5a5aa;
  --text-inverse: #000000;
  --divider: #29292d;
  --focus-color: #bdbdfd;
  --holiday-color: #ff7380;
  --saturday-color: #91b5ff;
}
